In [65]:
#Importing Packages
import pandas as pd
import numpy as np
from sklearn import metrics

In [66]:
#Reading Data
Data = pd.read_csv('student_scores - student_scores.csv')

In [67]:
Data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [68]:
# Split the Data To X and Y where X is the input Feature (Hours) and Y is the Output (Scores)
X = np.array(Data['Hours'])
X = X.reshape(X.shape[0],1)
Y = np.array(Data['Scores'])
Y = Y.reshape(Y.shape[0],1)

In [69]:
def Predictive_Line(X, Theta):

    Predictions = None
    X = np.append(np.ones((1,X.shape[0])), X.reshape((1,X.shape[0])), axis = 0)

  
    Predictions = np.dot(Theta.T, X)

  
    Predictions = Predictions.T
    return Predictions

In [70]:
def Calculate_Cost(X, Theta, Y):
    m = Y.shape[0]
    J = 0

    h = Predictive_Line(X, Theta)
    J = ((1/(2 * m)) * np.sum(np.square(h - Y), axis = 0))
 
    return J

In [71]:
def Gradient_Descent(X, Y, Theta, alpha, num_iters):

    m = Y.shape[0]
  
    X1 = np.append(np.ones(X.shape) , X, axis = 1)
    for i in range(num_iters):
        h = Predictive_Line(X, Theta.reshape((2,1)))
        Theta = Theta - (alpha / m) * ((h - Y).T).dot(X1)
    return Theta

In [72]:
Theta = Gradient_Descent(X, Y, Theta = np.zeros((1, 2)), alpha = 0.01,num_iters= 100)

Predicted_Score = Predictive_Line(np.array([9.25]), Theta.T)

Cost = Calculate_Cost(X, Theta.T, Y)
print( 'Cost = '+ str(Cost))

Cost = [14.49345133]

In [64]:
print("The predicted Score of a student that studies for 9.25hrs/day is: " + str(Predicted_Score))

The predicted Score of a student that studies for 9.25hrs/day is: [[93.26937683]]